// COLOR THEMING
$purple: #561d5e;

$vivid: #05224e;
// $vivid: #05224e;
$gray: #123e60;
$white: #fffcff;
$primary: $vivid;
$secondary: $gray;
$cyan: blue;

//IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap.scss';
