// COLOR THEMING
$purple: #561d5e;
$vivid: #ec0a42;
$gray: #5f7470;
$white: #fffcff;
$primary: $vivid;
$secondary: $vivid;
$cyan: blue;

//IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap.scss';
