@use '../custom';

@import '../variables';

#skills {
  height: 800px;
  display: block;
  background-color: $primary;
  color: #c8dcec;
  font-size: 2rem;

  padding-top: 10rem;

  .lead {
    color: $secondary;
    font-weight: 600;
    padding-bottom: 2rem;
  }

  img {
    width: 7%;
    display: block;
    border-radius: 2rem;
    padding-bottom: 2rem;
  }

  .first {
    font-weight: 100;
  }

  svg {
    width: 15%;
  }
}
