@use '../custom';
@import '../variables';

#contact {
  color: $secondary;
  font-size: 1.5rem;
  margin-top: 10rem;
  color: #f1f6f9;
  height: 500px;
  width: 100%;

  background: linear-gradient(
    90deg,
    #1f005c,
    #17095c,
    #10105b,
    #081559,
    #031957,
    #011d54,
    #022051,
    #05224e
  );

  // background: linear-gradient(
  //   150deg,
  //   #0b2556,
  //   #003264,
  //   #003f6f,
  //   #004b76,
  //   #00577b,
  //   #00637c,
  //   #006f7a,
  //   #007a76,
  //   #008571,
  //   #208f6a
  // );

  // background: linear-gradient(
  //   90deg,
  //   #041838,
  //   #002242,
  //   #002d4b,
  //   #003752,
  //   #004259,
  //   #004c5e,
  //   #005762,
  //   #156166
  // );
  // background: linear-gradient(
  //   90deg,
  //   #143169,
  //   #004076,
  //   #004d7d,
  //   #005a7f,
  //   #00667c,
  //   #007175,
  //   #007b6b,
  //   #1b8461
  // );

  // background: linear-gradient(
  //   90deg,
  //   #72a7cf,
  //   #58a4c7,
  //   #3ca0bc,
  //   #1c9cae,
  //   #00979d,
  //   #00918b,
  //   #008b76,
  //   #1b8461
  // );
  clip-path: polygon(0 43%, 100% 0, 100% 100%, 0 100%);
}

footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  // background-color: white;

  .image {
    display: flex;
    justify-content: end;

    img {
      position: relative;
      top: 2rem;
      // top: 10rem;
      left: 5rem;
      width: 65%;
    }
  }

  .email {
    top: 3rem;
    position: relative;
    left: 2rem;
    color: #f1f6f9;
    font-weight: 700;
  }

  .box {
    // border-radius: 2rem;

    position: relative;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #24437e;
    // // padding: 4em;
    // transform: skewX(20px);

    /* background: #fff; */
  }

  .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(#2f5194, #24437e, #143169);
    filter: blur(1px);
    z-index: 1;
  }

  .box::after {
    content: '';
    position: absolute;
    top: 1;
    right: -1px;
    width: 40px;
    height: 100%;
    background: #0b2556;
    filter: blur(1px);
    z-index: 1;
    border-radius: 10px;
  }

  form {
    position: relative;
    top: 7rem;
  }
  // .container .box .shadow {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #24437e;
  // }

  // .container .box .shadow::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 95%;
  //   width: 120%;
  //   height: 240%;
  //   overflow: hidden;
  //   background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);

  //   transform: skewX(45deg);
  // }

  // .box .shadow::after {
  //   content: '';
  //   position: absolute;
  //   bottom: -200%;
  //   left: calc(100% + 80px);
  //   width: 100%;
  //   height: 200%;
  //   overflow: hidden;
  //   background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);

  //   transform: skewX(45deg);
  // }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column-reverse;
    transform: skewX(20px);

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
      15px 15px 15px rgba(0, 0, 0, 0.1), 20px 10px 20px rgba(0, 0, 0, 0.1),
      50px 50px 80px rgba(0, 0, 0, 0.25), inset(3px 3px 2px #fff);
  }

  .content img {
    width: 40%;
    // position: relative;
    // top: -5rem;
  }
}
