@use '../custom';
@import '../variables';

body {
  font-family: 'protipo', sans-serif;
  font-size: 3rem;
  font-weight: 400;

  a {
    font-size: 1.5rem;
    text-decoration: none;
  }
}

#hero {
  color: #c8dcec;
  font-size: 1.5rem;

  .heroworld {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    font-stretch: expanded;
    color: $secondary;
  }

  img {
    position: relative;
    top: -2rem;
    left: 10rem;
    width: 130%;
  }
}
