@use '../custom';

body {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 3rem;

  a {
    font-size: 2rem;
  }
}

#hero {
  color: white;

  img {
    position: relative;
    top: -2rem;
    left: 10rem;
    width: 130%;
  }
}
