@use '../custom';

body {
  background-color: #05224e;
}

#project {
  .colorblock {
    height: 400px;
    background-color: #5d77aa;
    top: 400px;
    z-index: -1;
    opacity: 70%;
  }

  img {
    width: 50%;
  }
  .card {
    background-color: #eff7fa;
  }
}
