@use '../custom';
@import '../variables';
body {
  background-color: #05224e;
}

#project {
  .colorblock {
    height: 400px;
    background-color: #5d77aa;
    top: 400px;
    z-index: -1;
    opacity: 70%;
  }

  img {
    width: 50%;
  }
  .card {
    background-color: #eff7fa;
  }
  .project_row {
    position: relative;
    padding-left: 5rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
  }

  .project_row:after {
    content: '';
    position: absolute;
    background-color: #208f6a;
    bottom: -15%;
    left: 4rem;
    z-index: -2;
    border-radius: 2rem;
    width: 110%;
    height: 70%;
  }

  .project_item {
    border-radius: 15px;

    .card {
      width: 358px;
      height: 300px;

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
