@use '../custom';

@media (max-width: 1000px) {
  #hero {
    img {
      left: -10rem;
      width: 10%;
    }
  }
  #project {
    .project_row {
      display: block;

      .project_item {
        width: 100%;
        // background-color: beige;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        .card {
          width: 80%;
          height: 70%;
        }
      }
    }
  }
}

@media (max-width: 1160px) {
  #hero {
    img {
      position: relative;
      top: -2rem;
      left: 10rem;
      width: 130%;
    }
  }

  #project {
    .project_row {
      // background-color: aqua;
      padding-left: 0;
      justify-content: center;

      &:after {
        content: none;
      }

      .card {
        transform: perspective(0px) rotateX(0deg) rotateY(0deg);
        transform-style: flat;
      }
    }
  }
}

@media (max-width: 768px) {
  #hero img {
    position: relative;
    right: -10rem;
  }
}
